In [5]:
#step_0


import pandas as pd
import numpy as np


#loading data for Energy
Energy=pd.read_excel("E:\DM\Python\data\Energy Indicators.xls") 

#dropping the undesired rows and cols 
#renaming cols
Energy= Energy.drop(Energy.columns[[0,1]],axis=1)
Energy=Energy.drop(Energy.index[228:266],axis=0)
Energy=Energy.drop(Energy.index[0],axis=0)
Energy.rename(columns={"Unnamed: 2":"Country"},inplace=True)
Energy.rename(columns={"Renewable Electricity Production":"% Renewable"},inplace=True)

#replacing the null values
Energy["Energy Supply"].replace("...",np.NaN,inplace=True)
Energy["Energy Supply per capita"].replace("...",np.NaN,inplace=True)


#converting petajoule to gigajoules 
Energy["Energy Supply"]=Energy["Energy Supply"].apply(lambda x:x*1000000)


#Removing numbers and/or parenthesis in their name of country column
Energy['Country'] = Energy['Country'].str.replace('\d+', '')
Energy['Country']=Energy['Country'].str.replace(r"\(.*\)","")
Energy['Country']= Energy['Country'].str.strip()


#replacing names of some countries as required
Energy['Country']= Energy['Country'].replace({"Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"})
display(Energy)

C:\Users\lap tech\AppData\Local\Temp\ipykernel_324\2873884944.py:25: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy['Country'] = Energy['Country'].str.replace('\d+', '')
C:\Users\lap tech\AppData\Local\Temp\ipykernel_324\2873884944.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy['Country']=Energy['Country'].str.replace(r"\(.*\)","")

,Country,Energy Supply,Energy Supply per capita,% Renewable
1,Afghanistan,3.210000e+08,10.0,78.66928
2,Albania,1.020000e+08,35.0,100
3,Algeria,1.959000e+09,51.0,0.55101
4,American Samoa,NaN,NaN,0.641026
5,Andorra,9.000000e+06,121.0,88.69565
...,...,...,...,...
223,Viet Nam,2.554000e+09,28.0,45.32152
224,Wallis and Futuna Islands,0.000000e+00,26.0,0
225,Yemen,3.440000e+08,13.0,0
226,Zambia,4.000000e+08,26.0,99.71467
227,Zimbabwe,4.800000e+08,32.0,52.53612

In [8]:
#step_1


# loading data for GDP 
GDP=pd.read_csv("E:\DM\Python\data\world_bank.csv",header=4)

#Dropping undesirred rows
GDP=GDP.drop(GDP.index[0:4],axis=0)

#replacing the names of countries as required
GDP["Country Name"]=GDP["Country Name"].replace({"Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"})

#getting only years from 2006 to 2015
GDP=GDP.drop(['Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005',], axis=1)
display(GDP)

,Country Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
5,Arab World,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
6,United Arab Emirates,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11
7,Argentina,3.788140e+11,4.089887e+11,4.215649e+11,4.217758e+11,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN
8,Armenia,8.679746e+09,9.873142e+09,1.055439e+10,9.060944e+09,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10
...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [13]:
#step_2



#loading data for ScimEn
ScimEn_all=pd.read_excel("E:\DM\Python\data\scimagojr-3.xlsx")

#getting the top 15 countries by rank
ScimEn=ScimEn_all[0:15]
display(ScimEn)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [48]:
#step_3


#joing the ScimEn and Energy dataframes on the values of country col(it exists on both of them)
Sci_Energy=pd.merge(ScimEn, Energy, how='inner', on='Country')

#joing the Sci_Energy(the previous result) and gdp dataframes on the values of country col from the Sci_Energy side 
#and on the country name col from the gdp side
Sci_Energy_GDP=pd.merge(Sci_Energy, GDP, how='inner', left_on='Country', right_on="Country Name")

#making the country col as the index
Sci_Energy_GDP=Sci_Energy_GDP.drop(['Country Name'], axis=1)
Sci_Energy_GDP=Sci_Energy_GDP.set_index('Country')
display(Sci_Energy_GDP)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [18]:
#step_4


#joining the 3 dataframes agian but with the total rows on the ScimEn (ScimEn_all)
Sci_Energy_all=pd.merge(ScimEn_all, Energy, how='inner', on='Country')
Sci_Energy_GDP_all=pd.merge(Sci_Energy_all, GDP, how='inner', left_on='Country', right_on="Country Name")

#how many entries did you lose by substracting number of rows in Sci_Energy_GDP from Sci_Energy_GDP_all  
len(Sci_Energy_GDP_all)-len(Sci_Energy_GDP)

143

In [22]:
# Step 5



#we will create a new col called avgGDP and its values from the average of gdp vaules from 2006:2015

Sci_Energy_GDP["avgGDP"]=Sci_Energy_GDP[['2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1)

# create  a Series named avgGDP with 15 countries and their average GDP sorted in descending order.
avgGDP=Sci_Energy_GDP.loc[:,"avgGDP"]

#sorting the series on the values of their avgGDP in a descending order.
avgGDP=avgGDP.sort_values(ascending=False)
display(avgGDP)
type(avgGDP)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

pandas.core.series.Series

In [142]:
#step_6


# What is the mean Energy Supply per Capita?


Average_En_supply=Sci_Energy_GDP[['Energy Supply per capita']].mean(axis=0)
display(Average_En_supply)

Energy Supply per capita    157.6
dtype: float64

In [26]:
# Step 7


# What country has the maximum % Renewable and what is the percentage?

#sorting the rows in Sci_Energy_GDP depending on the % Renewable col from max to min
Sci_Energy_GDP = Sci_Energy_GDP.sort_values(by=['% Renewable'], ascending=False)

#getting the first row (max ['% Renewable'] ) 

first_row=Sci_Energy_GDP.iloc[0]

#creating a tuble contains name of country( index) and ["% Renewable"] value
count_val=first_row.name,first_row.loc["% Renewable"]
display(count_val)
type(count_val)

('Brazil', 69.64803)

tuple

In [29]:
# Step 8


# Create a new column that is the ratio of Self-Citations to Total Citations

Sci_Energy_GDP["Citation_Ratio"]=Sci_Energy_GDP["Self-citations"]/Sci_Energy_GDP["Self-citations"].sum(axis=0)

#What is the maximum value for this new column, and what country has the highest ratio?

#sorting the Sci_Energy_GDP depending on values of ['Citation_Ratio'] col
Sci_Energy_GDP = Sci_Energy_GDP.sort_values(by=['Citation_Ratio'], ascending=False)

# getting the first row = the max ["Citation_Ratio"]
first_row_2=Sci_Energy_GDP.iloc[0]

#creating a tuble for the country and its val of ["Citation_Ratio"]
count_val_2=first_row.name,first_row_2.loc["Citation_Ratio"]
display(count_val_2)

('Brazil', 0.3937733982985838)

In [33]:
# Step 9

# Create a  column ['flag']  with a 1 if the country's % Renewable value is at or
# above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

Sci_Energy_GDP['flag'] = np.where(Sci_Energy_GDP['% Renewable']>=Sci_Energy_GDP['% Renewable'].median(axis=0), 1, 0)


# sorting the rows depending on the values of ['Rank'] col 
Sci_Energy_GDP = Sci_Energy_GDP.sort_values(by=['Rank'], ascending=True)

#  series named HighRenew whose index is the country name sorted in ascending order of rank.
HighRenew=Sci_Energy_GDP.loc[:,"flag"]
display(HighRenew)

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: flag, dtype: int32

In [50]:
# Step 10

# Use the following dictionary to group the Countries by Continent,
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}


#converting the dictionar into a dateframe that displays the sample size
Continent = pd.DataFrame.from_dict(ContinentDict,orient ='index')
Continent.reset_index(drop=False, inplace=True)
Continent= Continent.set_axis(['Country','Continent'], axis=1, inplace=False)


# #preparing Sci_Energy_GDP by creating a new col ["Population"] 
Sci_Energy_GDP["Population"]=Sci_Energy_GDP["Energy Supply"]/Sci_Energy_GDP["Energy Supply per capita"]
Sci_Energy_GDP.reset_index(drop=False, inplace=True)


# #merging both dataframes by the country col
cont_count_pop=pd.merge(Continent, Sci_Energy_GDP[["Country","Population"]], how='inner', on='Country')



# #using group by and agg to show values of [size]]number of countries in each continent 
# and  the sum, mean, and std deviation for the estimated population of each country.
req_df=cont_count_pop.groupby("Continent")["Population"].agg([np.size, np.sum, np.mean, np.std]).reset_index()
req_df=req_df.set_index("Continent")
display(req_df)

C:\Users\lap tech\AppData\Local\Temp\ipykernel_324\2070768390.py:24: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  Continent= Continent.set_axis(['Country','Continent'], axis=1, inplace=False)

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN